// 字体
$font-size-lg: 18px;
$font-size-primary: 16px;
$font-size-small: 14px;
$font-size-mini: 12px;
$font-color: #333640;

// padding
$padding-lg: 30px;
$padding-primary: 20px;
$padding-small: 10px;
$padding-mini: 5px;

// margin
$margin-lg: 30px;
$margin-primary: 20px;
$margin-small: 10px;
$margin-mini: 5px;