<!DOCTYPE html>
<html lang="zh-CN">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>登录页</title>
   </head>
   <body>
     <div>登录</div>
     <form action="/app/login" method="post">
        <div class="form-row">
            <span>账号：</span>
            <input type="text" name="username" />
        </div>
        <div class="form-row">
           <span>密码：</span>
           <input type="password" name="password" />
        </div>
        <div class="form-footer">
           <input type="submit" value="登录" />
        </div>
     </form>
   </body>
</html>